.location-wrapper {
  padding: 16px;
  font-family: sans-serif;
  background-color: #1C1C1E; 
  color: #FFFFFF;           
  min-height: 100vh;
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.back-button {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  cursor: pointer;
  filter: brightness(0) invert(1);
}

.search-input {
  flex: 1;
  padding: 10px 12px;
  background-color: #2C2C2E;   
  border: none;
  border-radius: 20px;
  font-size: 14px;
  color: #ffffff;
}

.search-input::placeholder {
  color: #aaa; 
}

.location-button {
  width: 100%;
  background-color: #FF6F0F; 
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-weight: bold;
  margin-bottom: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.location-button::before {
  font-size: 16px;
}

.location-title {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #FFFFFF;
}

.location-list {
  list-style: none;
  padding: 0;
}

.location-item {
  padding: 10px 0;
  border-bottom: 1px solid #2C2C2E; 
  font-size: 15px;
  color: #FFFFFF;
}
